

/*****************Login Form Area ************************/

.body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('bislig-campus.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
  }
  
  .topnav {
    overflow: hidden;
    background-color: maroon;
  }
  
  .topnav a{
    color: #f2f2f2;
    margin-left: 30%;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20;
  }
  
  .box {
      
      float: right;
      width: 30%;
      height: 450px;
      margin-right: 2.5%;
      margin-top: 4%;
      border-radius: 5%;
      background: rgb(130, 127, 127); /* Fallback color */
      background: rgba(255, 255, 255, 0.60); /* Black background with 0.5 opacity */
      color: #f1f1f1;
      padding: 20px;
      
  }
  
  .inp{
    width: 100%;
    margin-bottom: 5%;
    padding: 8px 10px;
    border-radius: 100px 100px 100px 100px;
    border-width: 2px;
  
  }
  
  .pic {
      width: 120;
      height: 120;
      
  }
  .btn {
    background-color:maroon;
    color: white;
    padding: 12px 15px;
    border: none;
    cursor: pointer;
    width: 30%;
    margin-left: 32%;
    border-radius: 5%;
    margin-top: 2%;
  }
  
  .about {
    background-color:maroon;
    color: white;
    padding: 8px 5px;
    border: none;
    cursor: pointer;
    width: 10%;
    margin-left: 17%;
    border-radius: 5%;
  }
  
  
  .about:hover{
    background: rgba(189, 40, 7, 0.60); /* Black background with 0.5 opacity */
  }
  
  
  .btn:hover{
    background: rgba(189, 40, 7, 0.60); /* Black background with 0.5 opacity */
  }
  
    