
/*********************HEADER TOP MENU BAR ***************/
.head-background{
    margin-top: -10px;
    width: 100%;
    background-color:maroon;
    margin-bottom: 20px;
    
  }
  
  .notif-icon{ 
    padding-top: 5px; 
    padding-bottom:5x;
    border-radius: 0px 0px 10px 10px; 
    
  }
  
  .header-buttons{
    font-size:12px;
    font-family: 'Lato', sans-serif;
    font-weight: 400; 
    letter-spacing: 0.8px;
    padding-top: 5px;
    transition: 0.5s;
    margin-right: 10px;
  }
  .header-separator{
    padding-left: 10px;
    margin-right: 10px;
}


/*********** Search Bar Area *************/
form.search-bar input[type=text]{
  
  /*TEXT*/
  font-size: 12px;
  font-family: 'Lato', sans-serif;
  height: 40px;
  width: 800px;
  text-indent: 5px;
  margin-left: -120px;

  /*TEXT FIELD*/
  float: left;
  margin-top: 20px;
  outline: none;
  border: none;
  border-radius: 5px 0px 0px 5px;
  background-color:white;

}

::placeholder{
  color:black;
  text-indent: 5px;
}

form.search-bar button {
  height:40px;
  width: 40px;
  float: left;
  margin-top: 20px;
  margin-left: -1px;
  outline: none;
  border:none;
  border-radius: 0px 5px 5px 0px;
  background-color:#f7f7f7;
}

form.search-bar button:hover{
 background-color:wheat;
}

form.search-bar::after {
  content: "";
  clear: both;
  display: table;
}

.search-image{
  height: 20px;
  width: 20px;
}

/**************Header Icons ****************/

.Home{
  height: 30px;
  width: 30px;
  margin-top:-15px;
}

.Notif{
    height: 30px;
    width: 30px;
    margin-top:-15px;
}

.Mess {
    height: 30px;
    width: 30px;
    margin-top: -15px;
}
.Menu{
    height: 30px;
    width: 30px;
    margin-left: 20px;
    margin-top: -15px;
}


/*************** Profile ******************/
.card {
  height: 500px;
  width: 350px;
  margin-left: 50px;
  margin-top: 50px;
  border:5px solid black;
  border-radius: 50px 50px 50px 50px;
  background-color: white;
}


.user-edit-icon {
  height: 50px;
  width: 50px;
  border-radius: 100px 100px 100px 100px;
  margin-left: 170px;
  margin-top: 15px;
  cursor: pointer;
}
.card-profile{
  padding-left: 100px;
}


.center{
  
  height: 100px;
  margin-top: -10px;
}
.profile-icon{
	height: 100px;
  width: 100px;
  margin-left: 125px;
  margin-top: -70px;
  border-radius: 100px 100px 100px 100px; 
}

.Name-Last {
  font-size: 28px;
  font-style: 'Lato', Sans Serif;
  margin-top: 130px;
  margin-left:-30px;
}
.Footer{
  margin-top: 125px;
  height: 300px;
  font-size: 25px;
  border-color:black;
}

.about-icon {
  height: 30px;
  width: 30px;
  margin-left: 30px;
  margin-top: 10px;
  font-size: 15px;
}

.about-icon-course {
  font-size: 15px;
  margin-left: 80px;
  margin-top: -35px;
  cursor: pointer;

}

.about-future {
  height: 20px;
  width: 20px;
  margin-left: 35px;
  margin-top: -10px;
}

.about-icon-year {
  font-size: 15px;
  margin-left: 80px;
  margin-top: -32px;
  cursor: pointer;
}