

/*****************Login Form Area ************************/

.body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url('bislig-campus.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.topnav {
  overflow: hidden;
  background-color: maroon;
}

.topnav a{
  color: #f2f2f2;
  margin-left: 30%;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20;
}

.box {
    
    float: right;
    width: 30%;
    height: 450px;
    margin-right: 2.5%;
    margin-top: 4%;
    border-radius: 5%;
    background: rgb(130, 127, 127); /* Fallback color */
    background: rgba(255, 255, 255, 0.60); /* Black background with 0.5 opacity */
    color: #f1f1f1;
    padding: 20px;
    
}

.inp{
  width: 100%;
  margin-bottom: 5%;
  padding: 8px 10px;
  border-radius: 100px 100px 100px 100px;
  border-width: 2px;

}

.pic {
    width: 120;
    height: 120;
    
}
.btn {
  background-color:maroon;
  color: white;
  padding: 12px 15px;
  border: none;
  cursor: pointer;
  width: 30%;
  margin-left: 32%;
  border-radius: 5%;
  margin-top: 2%;
}

.about {
  background-color:maroon;
  color: white;
  padding: 8px 5px;
  border: none;
  cursor: pointer;
  width: 10%;
  margin-left: 17%;
  border-radius: 5%;
}


.about:hover{
  background: rgba(189, 40, 7, 0.60); /* Black background with 0.5 opacity */
}


.btn:hover{
  background: rgba(189, 40, 7, 0.60); /* Black background with 0.5 opacity */
}


/* Events */

.topnav {
  overflow: hidden;
  background-color: maroon;
}


.search {
  margin-left: 1%;
}

.top input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  width: 40%;
  border-radius: 5px;
  border-right: none;
}

.top button{
  width: 3%;
  padding: 5px;
  color: grey;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
  
  border-radius: 5px;
  position: static;
}

.bg {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url('events-sample.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.container {
  width: 95%;
  height: 500px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 1.5%;
  border-radius: 0.5%;
  background: rgb(130, 127, 127); /* Fallback color */
  background: rgba(255, 255, 255, 0.60); /* Black background with 0.5 opacity */
  color: #f1f1f1;
  padding: 15px;
  overflow-x: hidden;
  
}

.sidenav {
  height: 60%;
  width: 19%;
  position: fixed;
  margin-top: 13%;
  margin-left: 2.5%;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: maroon;
  overflow-x: hidden;
  padding: 10px;
}

.sidenav a {
  padding: 10px 10px 10px 20px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav-b {
  height: 60%;
  width: 71%;
  position: fixed;
  margin-top: 13%;
  margin-left: 25%;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: maroon;
  overflow-x: hidden;
  padding: 10px;
}


.info {
  margin-left: 5%; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
  color: black;

}

.container-info {
  background-color: maroon;
  width: 80%;
  margin-top: 7.7%;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

 .events {
  background-color: maroon;
  width: 19%;
  padding: 10px ;
  height: 8%;
  font-family: sans-serif;
  text-align: center;
  overflow: hidden;
  position: fixed;
  border-radius: 1%;
}

/* .events-display {
  width: 20%;
  padding: 10px;
  background-color: maroon
}

.events-info {
  width: 75%;
  padding: 10px;
  height:300px;
  float: right;
  display: flex;
  background-color: maroon
} */ 

